<p>I was born in São Paulo in 1985 and since 2010 a I am living in Sydney with my wife <a href="http://louisecosta.com" target="_blank">Louise</a> and our two cats, <a href="http://www.flickr.com/photos/_mauricio/9978086783/in/set-72157633021935363" target="_blank">Shadow</a> and <a href="http://www.flickr.com/photos/_mauricio/11579648665/" target="_blank">Oliver</a>.</p>

<md-grid-list
      md-cols-sm="1" md-cols-gt-md="3"
      md-row-height-gt-md="4:3" md-row-height="4:3"
      md-gutter="5px" md-gutter-gt-sm="10px" >

  <md-grid-tile md-rowspan="1" md-colspan="1">
    <a href="http://louisecosta.com" target="_blank"><img src="images/louise.jpg" alt="Louise" class="list-image"></a>
  </md-grid-tile>

  <md-grid-tile md-rowspan="1" md-colspan="1">
    <a href="http://www.flickr.com/photos/_mauricio/9978086783/in/set-72157633021935363" target="_blank"><img src="images/shadow.jpg" alt="Shadow" class="list-image"></a>
  </md-grid-tile>

  <md-grid-tile md-rowspan="1" md-colspan="1">
    <a href="http://www.flickr.com/photos/_mauricio/11579648665/" target="_blank"><img src="images/oliver.jpg" alt="Oliver" class="list-image"></a>
  </md-grid-tile>

</md-grid-list>


<md-toolbar class="md-theme-light md-hue-1">
  <h1 class="md-toolbar-tools">
    <span>Education</span>
  </h1>
</md-toolbar>


<md-item>
  <md-item-content>
    <div class="md-tile-content" layout="row" layout-sm="column">
      <div flex><h3>2002 - 2006</h3></div>
      <div flex>Bachelor, Computer Science</h3></div>
      <div flex><h3>Universidade Anhembi Morumbi</h3></div>
    </div>
  </md-item-content>
  <md-divider></md-divider>
</md-item>

<md-toolbar class="md-theme-light md-hue-1">
  <h1 class="md-toolbar-tools">
    <span>Experience</span>
  </h1>
</md-toolbar>

<md-item ng-repeat="exp in experiences">
  <md-item-content>
    <div class="md-tile-content" layout="row" layout-sm="column">
      <div flex><h3>{{exp.date}}</h3></div>
      <div flex><h3 ng-bind-html="exp.company"></h3></div>
      <div flex><h3>{{exp.role}}</h3></div>
    </div>
  </md-item-content>
  <md-divider></md-divider>
</md-item>

<md-toolbar class="md-theme-light md-hue-1">
  <h1 class="md-toolbar-tools">
    <span>Life Honor and Awards</span>
  </h1>
</md-toolbar>
<md-item ng-repeat="award in awards">
  <md-item-content>
    <div class="md-tile-content" layout="row" layout-sm="column">
      <div flex><h3>{{award.date}}</h3></div>
      <div flex><h3>{{award.type}}</h3></div>
      <div flex><h3>{{award.description}}</h3></div>
    </div>
  </md-item-content>
  <md-divider></md-divider>
</md-item>

<md-toolbar class="md-theme-light md-hue-1">
  <h1 class="md-toolbar-tools">
    <span>Want to connect?</span>
  </h1>
</md-toolbar>

<div class="about-connect" layout="row" layout-padding layout-margin layout-align="center center">
  <md-button class="md-primary md-hue-1" ng-repeat="s in social" aria-label="{{s.label}}">
    <a href="{{s.link}}" target="_blank"><i class="fa {{s.icon}} fa-2x"></i></a>
    <md-tooltip>{{s.label}}</md-tooltip>
  </md-button>
</div>

<md-divider></md-divider>
